body {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    background-color: rgb(246, 231, 212);
}

#header {
    font-size: 48px;
    text-align: center;
}

.image-banner {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}